<%- include('header.ejs') -%>
<script type="text/javascript" src="../public/controllers/myForgotPWDCtrl.js"></script>
<script type="text/javascript" src="../public/javascripts/sha256.min.js"></script>
<link type="text/css" rel=stylesheet href="../public/stylesheets/bootstrap.min.css" />
<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#btnFP').click(function () {
            if ($('#un').val() != '' && $('#captcha').val() != '') {
                $("#formFP").submit();
            }
            else {
                alert('Please enter Username and Captcha.');
            }
        });
    });
    $(function () {
        $('#btnOTP').click(function () {
            if ($('#otp').val() != '') {
                $("#formOTP").submit();
            }
            else {
                alert('Please enter OTP.');
            }
        });
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(function () {
        $('#btnUP').click(function () {
            if ($('#npwd').val() != '' && $('#cpwd').val() != '') {
                var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{6,})");
                if (strongRegex.test($('#npwd').val())) {
                    if (sha256($('#npwd').val()) == sha256($('#cpwd').val())) {
                        $('#npwd').val(sha256($('#npwd').val()));
                        $('#cpwd').val(sha256($('#cpwd').val()));
                        document.getElementById('formPWD').action = '/updatePassword';
                        $("#formPWD").submit();
                    }
                    else {
                        alert('New Password and Confirm Password do not match.');
                    }
                }
                else {
                    alert('Invalid Password. Please enter a strong password.');
                }
            }
            else {
                alert('Please enter New Password and confirm it.');
                console.log('shit')
            }
        });
    });
</script>
<div ng-app="myApp" ng-controller="myForgotPWDCtrl" ng-init="showHide()" ng-cloak class="container clearfix">
    <div class="content-outer">
        <div class="content">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-weight: bold; background: #074b72; color: white">Forgot
                            Password</div>
                        <div class="panel-body">
                            <ul class="newsticker">
                                <input type="hidden" name="randomNo" id="rno" value="<%= randomNo %>">
                                <input type="hidden" name="message" id="msg" value="<%= message %>">
                                <input type="hidden" name="message" id="mno" value="<%= mobileNo %>">
                                <form method="POST" id="formFP" action="/pforgotPassword" autocomplete="off"
                                    ng-show="abc">
                                    <input type="hidden" name="_csrf" class="_csrf" value="<%=csrfToken %>">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label for="exampleInputEmail1">User Name:</label>
                                        <input type="text" class="form-control" id="un" name="userName" maxlength="30"
                                            autocomplete="off" placeholder="Enter Username" required>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label for="exampleInputPassword1">Enter Captcha:</label>
                                        <div style="display: flex">
                                            <img ng-src="{{URL}}" style="border-radius: 10px;">
                                            <div style="padding: 17px 0 0 5px">=</div>
                                            <input type="text" class="form-control" id="captcha" maxlength="10"
                                                name="captcha" autocomplete="off" style="margin: 9px 0 0 10px" required>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit" id="btnFP" class="form-submit"
                                        style="float: right" />
                                </form>
                                <form method="POST" id="formOTP" action="/verifyOTP" autocomplete="off" ng-show="def">
                                    <input type="hidden" name="_csrf" class="_csrf" value="<%=csrfToken %>">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label for="exampleInputEmail1">One Time Password:</label>
                                        <input type="text" class="form-control" id="otp" name="otp" maxlength="10"
                                            autocomplete="off" placeholder="Enter OTP" required>
                                    </div>
                                    <input type="button" value="Resend OTP" ng-click="sendOTP()" class="form-submit"
                                        style="float: right" />
                                    <input type="submit" value="Verify OTP" id="btnOTP" class="form-submit"
                                        style="float: right" />
                                </form>
                                <form method="POST" id="formPWD" autocomplete="off"
                                    ng-show="xyz">
                                    <input type="hidden" name="_csrf" class="_csrf" value="<%=csrfToken %>">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label for="exampleInputPassword1">New Password:</label>
                                        <span ng-style="npCheck" ng-class="nPWDCheck"></span>
                                        <input type="password" class="form-control" id="npwd" ng-model="np"
                                            ng-change="analyzeNP(np)" name="npassword" maxlength="50" autocomplete="off"
                                            placeholder="Enter New Password" required data-toggle="tooltip"
                                            data-placement="left"
                                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                    </div>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label for="exampleInputPassword1">Confirm Password:</label>
                                        <span ng-style="cpCheck" ng-class="cPWDCheck"></span>
                                        <input type="password" class="form-control" id="cpwd" ng-model="cp"
                                            ng-change="analyzeCP(cp)" minlength="6" name="cpassword" maxlength="50"
                                            autocomplete="off" placeholder="Confirm Password" required
                                            data-toggle="tooltip" data-placement="left"
                                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                    </div>
                                    <input type="submit" value="Update Password" id="btnUP" class="form-submit"
                                        style="float: right" />
                                </form>
                                <div style="color: red"><b><%= error %></b></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs') -%>